
RenameFiles/bin/Debug/Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll
RenameFiles/bin/Debug/Microsoft.WindowsAPICodePack.dll
RenameFiles/bin/Debug/Microsoft.WindowsAPICodePack.Sensors.dll
RenameFiles/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
RenameFiles/bin/Debug/Microsoft.WindowsAPICodePack.ShellExtensions.dll
RenameFiles/bin/Debug/Rename Files - v1.1.2.0 - by MrBlackDemon.exe
RenameFiles/bin/Debug/Rename Files - v1.1.2.0 - by MrBlackDemon.exe.config
RenameFiles/bin/Debug/Rename Files - v1.1.2.0 - by MrBlackDemon.pdb
RenameFiles/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RenameFiles/obj/Debug/Rename Files - v1.1.2.0 - by MrBlackDemon.exe
RenameFiles/obj/Debug/Rename Files - v1.1.2.0 - by MrBlackDemon.pdb
RenameFiles/obj/Debug/RenameFiles.csproj.CopyComplete
RenameFiles/obj/Debug/RenameFiles.csproj.CoreCompileInputs.cache
RenameFiles/obj/Debug/RenameFiles.csproj.FileListAbsolute.txt
RenameFiles/obj/Debug/RenameFiles.csproj.GenerateResource.cache
RenameFiles/obj/Debug/RenameFiles.Properties.Resources.resources
RenameFilesSetup/Debug/RenameFilesSetup.msi
RenameFilesSetup/Debug/setup.exe
RenameFiles/obj/Debug/RenameFiles.csprojAssemblyReference.cache
RenameFiles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RenameFiles/obj/Debug/build.force
packages/WindowsAPICodePack.1.1.2/.signature.p7s
packages/WindowsAPICodePack.1.1.2/content/license.txt
packages/WindowsAPICodePack.1.1.2/content/Windows Logo.png
packages/WindowsAPICodePack.1.1.2/lib/Microsoft.WindowsAPICodePack.dll
packages/WindowsAPICodePack.1.1.2/lib/Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll
packages/WindowsAPICodePack.1.1.2/lib/Microsoft.WindowsAPICodePack.Sensors.dll
packages/WindowsAPICodePack.1.1.2/lib/Microsoft.WindowsAPICodePack.Shell.dll
packages/WindowsAPICodePack.1.1.2/lib/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/WindowsAPICodePack.1.1.2/WindowsAPICodePack.1.1.2.nupkg
RenameFiles/bin/Release/Microsoft.WindowsAPICodePack.dll
RenameFiles/bin/Release/Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll
RenameFiles/bin/Release/Microsoft.WindowsAPICodePack.Sensors.dll
RenameFiles/bin/Release/Microsoft.WindowsAPICodePack.Shell.dll
RenameFiles/bin/Release/Microsoft.WindowsAPICodePack.ShellExtensions.dll
RenameFiles/bin/Release/Rename Files - v1.1.2.0 - by MrBlackDemon.exe
.vs/RenameFiles/v16/.suo
RenameFiles/bin/Release/Rename Files - v1.1.2.0 - by MrBlackDemon.exe.config
.vs/RenameFiles/v16/.suo
RenameFiles/bin/Release/Rename Files - v1.1.2.0 - by MrBlackDemon.pdb
RenameFiles/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RenameFiles/obj/Release/Rename Files - v1.1.2.0 - by MrBlackDemon.exe
RenameFiles/obj/Release/Rename Files - v1.1.2.0 - by MrBlackDemon.pdb
RenameFiles/obj/Release/RenameFiles.csproj.CopyComplete
RenameFiles/obj/Release/RenameFiles.csproj.CoreCompileInputs.cache
RenameFiles/obj/Release/RenameFiles.csproj.FileListAbsolute.txt
RenameFiles/obj/Release/RenameFiles.csproj.GenerateResource.cache
RenameFiles/obj/Release/RenameFiles.Form_RenameFiles.resources
RenameFiles/obj/Release/RenameFiles.Properties.Resources.resources
RenameFiles/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
RenameFilesSetup/Release/RenameFilesSetup.msi
RenameFilesSetup/Release/setup.exe
